architecture: CornerNetSqueeze
train_feed: CornerNetTrainFeed
use_gpu: true
max_iters: 500000
log_smooth_window: 20
log_iter: 20
save_dir: output
snapshot_iter: 5000
metric: COCO
pretrain_weights: NULL
weights: output/cornernet_squeeze/model_final
num_classes: 80
stack: 2

CornerNetSqueeze:
  backbone: Hourglass
  corner_head: CornerHead

Hourglass: {}

CornerHead:
  batch_size: 14
    
LearningRate:
  base_lr: 0.00025
  schedulers:
  - !PiecewiseDecay
    gamma: 0.1
    milestones:
    - 450000
#  - !LinearWarmup
#    start_factor: 0.
#    steps: 4000

OptimizerBuilder:
  optimizer:
    #momentum: 0.9
    type: Adam
  regularizer: 
    factor: 0.0
    type: L2

CornerNetTrainFeed:
  batch_size: 14
  dataset:
    dataset_dir: dataset/coco
    annotation: annotations/instances_train2017.json
    image_dir: train2017
  num_workers: 16
  bufsize: 128
  use_process: true
